.custom-collapse {
  .ant-collapse-item {
    padding: 24px 0;

    &:not(:last-child) {
      border-bottom: 1px solid #dde3eb;
    }

    .ant-collapse-header {
      padding: 0;
      align-items: center;
    }

    .ant-collapse-expand-icon {
      position: absolute;
      width: 20px;
      height: 20px;
      transform: rotate(-90deg);
      transition: transform var(--delay);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }

    .ant-collapse-content .ant-collapse-content-box {
      padding: 0;
    }
  }

  .ant-collapse-item-active .ant-collapse-expand-icon {
    transform: rotate(0deg);
  }
}
