.root {
  &__grid {
    margin-top: 16px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;

    @media (max-width: 880px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 630px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  &__label {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--note-color);
    margin-bottom: 15px;
  }

  &__value {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--text-color);
  }

  &__btn {
    grid-area: 3/1/4/3;

    @media (max-width: 880px) {
      grid-area: 4/1/5/3;
    }
    @media (max-width: 630px) {
      grid-area: 7/1/8/2;
    }
  }

  &__password {
    @media (max-width: 880px) {
      grid-area: 3/1/4/2;
    }
    @media (max-width: 630px) {
      grid-area: 5/1/6/2;
    }
  }
}

