.root {
  &__table {
    min-width: 680px;
    border-top: 1px solid #dde3eb;
    border-bottom: 1px solid #dde3eb;
    margin-top: 26px;
    margin-bottom: 14px;
    padding-top: 11px;
    padding-bottom: 28px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__row {
    display: grid;
    grid-template-columns: 3fr repeat(3, 160px);
    justify-items: end;
    gap: var(--container-offset);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color);

    &:first-child {
      color: var(--note-color);
    }

    & > div:first-child {
      justify-self: start;
      margin-left: 30px;
    }
  }

  &__total {
    display: grid;
    justify-content: end;
    justify-items: end;
    grid-template-columns: repeat(2, 160px);
    gap: var(--container-offset);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: var(--container-offset);
    color: var(--text-color);

    & > div:first-child {
      color: var(--note-color);
      font-size: 16px;
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-start;
    gap: var(--container-offset);
    margin-bottom: 16px;

    @media (max-width: 560px) {
      flex-direction: column;
    }
  }

  &__info {
    padding-left: 30px;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color);
  }

  &__btns {
    flex-basis: 50%;
    display: flex;
    gap: var(--container-offset);

    @media (max-width: 1160px) {
      flex-direction: column;
      align-items: flex-end;
    }
    @media (max-width: 560px) {
      padding-left: 30px;
      align-items: flex-start;
      width: 100%;
    }
  }
}
