.ant-select.custom-select {
  height: 60px;


  .ant-select-selector {
    height: 100%;
    border: 1px solid #dde3eb !important;
    border-radius: 15px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    overflow: auto;
  }

  .ant-select-selection-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .ant-select-arrow {
    right: 20px;
  }
  .ant-select-clear {
    top: -5px;
    right: -6px;
    background-color: unset;
  }
  .ant-select-selection-placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}
